<header>
  <h1>Ember Chimp</h1>
</header>

<section>
  {{ember-chimp label="Ember Chimp Input" 
                placeholder="Email" 
                formAction="//computer.us11.list-manage.com/subscribe/post?u=6e62b74d002f42a0e5350892e&amp;id=4e7effa6bd"
                buttonText="Submit"
                loadingText="Loading"
                value="testing-123@gmail.com"}}
</section>
